<html>
<body>

<img src="http://1.bp.blogspot.com/-Hrvba62Nzeo/TwLSlRhbNvI/AAAAAAAAApE/wFah3PLliJs/s1600/Roc_+Climbing.jpg">

<form align="center">
    <input type="radio" name="day" value="male"> Monday<br><br>
    <input type="radio" name="day" value="female"> Tuesday<br><br>
    <input type="radio" name="day" value="other"> Wednesday<br><br>
    <input type="radio" name="day" value="female"> Thursday<br><br>
    <input type="radio" name="day" value="other"> Friday<br><br>
  </form>
<button type="button" onclick="{% url 'vote' %}"> VOTE</button>
  <a href="{% url 'vote'%}" class="portfolio-link" data-toggle="modal">sadasa</a>

</body>
</html>
