{% extends "base.html" %}

{% block content %}
<meta charset="utf-8">
<style >
#x1{
	width: 500px;
	height: 250px;
	float: left;
	display: block;
  text-align: center;
  padding-bottom: 30;
  color: white;
}
#x2{
	width: 250px;
	height: 250px;
	float: left;
	color: #FFFFFF
}
#x3 {
	width: 250px;
	height: 250px;
	float: right;
	color: #FFFFFF;
}

   img{
   	width: 400px;
   	height: 400px;
   }
   #test{
   	text-align: center;
   	margin-top: 100px;
   }
   #gg{
   	color:#FFFFFF;
      text-align: center;
      color:#f2f2f2;
      font-weight: bold;
      padding-top: 80px;
      padding-bottom: 40px

   }
   p{
			font-size: 1em;
			line-height:1.2em;
			font-weight: bold;
			text-align: center;

	}
}


</style>
<script type="text/javascript">

</script>
<body style="background-color: #000000" background="http://www.pixeden.com/media/k2/galleries/220/005-wood-melamine-subttle-pattern-background-pat.jpg"></body>

    <h1  id="gg" >{{activity.Activityname}} </br>{{activity.description}}</h1>

      <div class="row">
          <div class="col-sm-2">
          </div>
          <div class="col-sm-4">
             <img  src="{{activity.image.url}}" > </img>
          </div>
          <div class="col-sm-3" >
             <div id="x1">
             <h3> Result !!</h3>
                <div id="x2">
                   {% for i in dayList %}
                    <p id="x"+i>{{i}}</p>
                   {% endfor %}
                </div>
                <div id="x3">
                    {% for i in dayResult %}
                    <p id="x"+i>{{i}}</p>
                 {% endfor %}
                 </div>
            </div>
         </div>
        <div class="col-sm-1">
        </div>
    </div>
{% endblock %}
